In [1]:
print("Hello World")

Hello World

In [2]:
print("HEllo wolrd \n Hello PIAIC")

HEllo wolrd
 Hello PIAIC

In [3]:
no_of_sides = 3

In [4]:
b = 3
b**2

9

In [6]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))
c=int(input("Enter c:"))
d=b**2-4*a*c
if d<0:
    print("Solution doesn't exist")
else:
    x1=(-b+d**0.5)/(2*a)
    x2=(-b-d**0.5)/(2*a)
    print("x1=",x1,"x2=",x2)

Enter a:1
Enter b:2
Enter c:1
x1= -1.0 x2= -1.0

In [7]:
age = 22
age +=1 
print(age)

23

In [9]:
((2**3)*2)

16

In [10]:
x = 1 
y = 2
z = x = y = 3

In [11]:
z

3

In [12]:
y

3

In [13]:
x

3

In [14]:
x = "Hello"
x += "World"
print(x)

HelloWorld

In [15]:
x="The sum of 2 plus 2 is " + str(4)

In [16]:
x

'The sum of 2 plus 2 is 4'

In [17]:
x = int(input("Kindly enter any number"))
if x%2 == 0:
    print("The no is even")
else:
    print("The no is odd")

Kindly enter any number5
The no is odd

In [18]:
x = int(input("Kindly enter a no"))
if x > 0 :
    print("The no is positive")
elif x == 0:
    print("The no is zero")
else:
    print("The no is negative")

Kindly enter a no6
The no is positive

In [20]:
x = 0 
if x == 0:
    print("true")

true

In [23]:
if 13:
    print("hello")

hello

In [24]:
bool(13)

True

In [25]:
bool(-3)

True

In [26]:
bool(0)

False

In [27]:
bool("Hello")

True

In [28]:
bool("false")

True

In [29]:
bool("")

False

In [33]:
a = int(input("enter any no"))
b = int(input("enter any no"))
c = int(input("enter any no"))
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("C is greater")

enter any no63
enter any no3
enter any no69
C is greator

In [36]:
a = int(input("enter any no"))
b = int(input("enter any no"))
c = int(input("enter any no"))
if a>b:
    if a>c:
        print("A is greater")
elif b>c:
    if b>a:
        print("B is greater")
else:
    print("C is greater")

enter any no6
enter any no3
enter any no6

In [41]:

# This is going to be 
# my first program

In [42]:
cities = ["Karachi", "Lahore", "Peshawar"]

In [43]:
cities

['Karachi', 'Lahore', 'Peshawar']

In [44]:
cities[0]

'Karachi'

In [49]:
cities.append("Islamabad")

In [50]:
cities

['Karachi', 'Lahore', 'Hyderabad', 'Peshawar', 'Islamabad', 'Islamabad']

In [47]:
cities.insert(2,"Hyderabad")

In [51]:
cities

['Karachi', 'Lahore', 'Hyderabad', 'Peshawar', 'Islamabad', 'Islamabad']

In [52]:
del cities[5]

In [53]:
cities

['Karachi', 'Lahore', 'Hyderabad', 'Peshawar', 'Islamabad']

In [54]:
country = []

In [56]:
list(cities)

['Karachi', 'Lahore', 'Hyderabad', 'Peshawar', 'Islamabad']

In [57]:
cities += ['Bombay','Calcutta']

In [58]:
cities

['Karachi',
 'Lahore',
 'Hyderabad',
 'Peshawar',
 'Islamabad',
 'Bombay',
 'Calcutta']

In [60]:
del cities[5]

In [62]:
cities

['Karachi', 'Lahore', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [64]:
cities.remove('Lahore')

In [68]:
cities

['Karachi', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [74]:
x = cities[2]
del x

NameError: name 'Peshawar' is not defined

In [70]:
x

NameError: name 'x' is not defined

In [73]:
cities

['Karachi', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [75]:
cities[2:4]

['Peshawar', 'Islamabad']

In [78]:
cities[::3]

['Karachi', 'Islamabad']

In [80]:
x = cities

In [81]:
x[0]='Sydney'

In [82]:
x

['Sydney', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [83]:
cities

['Sydney', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [84]:
y = cities[:]

In [85]:
y[0] = 'Jeddah'

In [86]:
y

['Jeddah', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [87]:
cities

['Sydney', 'Hyderabad', 'Peshawar', 'Islamabad', 'Calcutta']

In [89]:
cities[::-1]

['Calcutta', 'Islamabad', 'Peshawar', 'Hyderabad', 'Sydney']

In [90]:
z = cities.pop(2)

In [91]:
z

'Peshawar'

In [92]:
cities

['Sydney', 'Hyderabad', 'Islamabad', 'Calcutta']