In [3]:
firstname=['Aslam ',' akram']
lastname=['kamran ',' asgar']
fullname=[]
for x in firstname:
    for y in lastname:
        fullname.append(x +'  ' +y)

In [4]:
fullname

['Aslam   kamran ', 'Aslam    asgar', ' akram  kamran ', ' akram   asgar']

In [5]:
float(4)

4.0

In [38]:
x=input('Enter any thing:  ')
y=x.upper()
y

Enter any thing:  Umair

'UMAIR'

In [9]:
x=input('Enter any thing:  ')
y=x.title()
y

Enter any thing:  asadullah

'Asadullah'

In [10]:
x=input('Enter any thing:  ')
y=x.lower()
y

Enter any thing:  Asadullah

'asadullah'

In [ ]:
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0
0 1 0 1 0 1 0 1 0 1

In [17]:
for i in range(0,7):
    for j in range(0,7):
        if (i+j)%2==0:
            print('1',end=' ')
        else:
            print('0',end=' ')
    print()

1 0 1 0 1 0 1
0 1 0 1 0 1 0
1 0 1 0 1 0 1
0 1 0 1 0 1 0
1 0 1 0 1 0 1
0 1 0 1 0 1 0
1 0 1 0 1 0 1

In [18]:
student = {
    'std_name' : 'Umair',
    'std_roll' : 2019,
    'std_class': 'AI Class',
}

In [19]:
student.keys()

dict_keys(['std_name', 'std_roll', 'std_class'])

In [20]:
student.values()

dict_values(['Umair', 2019, 'AI Class'])

In [21]:
type(student)

dict

In [22]:
student['std_name']

'Umair'

In [23]:
student['std_class']

'AI Class'

In [24]:
student['marks'] = 98

In [25]:
student.keys()

dict_keys(['std_name', 'std_roll', 'std_class', 'marks'])

In [26]:
for i in student.keys():
    print(i,student[i])

std_name Umair
std_roll 2019
std_class AI Class
marks 98

In [27]:
for i,j in student.items():
    print(i,j)

std_name Umair
std_roll 2019
std_class AI Class
marks 98

In [30]:
students =[ {
    'name' : 'Asad',
},
{
    'name' : 'Umair',
},
{
    'name' : 'Taha',
}
]

In [31]:
for i in students:
    for j in i.keys():
        print(i[j])

Asad
Umair
Taha

In [32]:
data = "My name is Umair, Today is our 4th class, Pakistan lost yesterday by Afghanistan"
splitted_data = data.split(" ")
print(splitted_data)

['My', 'name', 'is', 'Umair,', 'Today', 'is', 'our', '4th', 'class,', 'Pakistan', 'lost', 'yesterday', 'by', 'Afghanistan']

In [33]:
print(splitted_data[::-1])

['Afghanistan', 'by', 'yesterday', 'lost', 'Pakistan', 'class,', '4th', 'our', 'is', 'Today', 'Umair,', 'is', 'name', 'My']

In [34]:
diction = {}
for i in splitted_data:
    if i in diction.keys():
        diction[i] += 1
    else:
        diction[i] = 1
print(diction)

{'My': 1, 'name': 1, 'is': 2, 'Umair,': 1, 'Today': 1, 'our': 1, '4th': 1, 'class,': 1, 'Pakistan': 1, 'lost': 1, 'yesterday': 1, 'by': 1, 'Afghanistan': 1}

In [35]:
customers = { "johnog": {"first name":"John", "last name": "Ogden", "address": "301 Arbor Rd." }, "coder1200": {"first name":"Ann", "last name": "Sattermyer", "address": "PO Box 1145" }, "madmaxine": {"first name":"Jill", "last name": "Somers", "address": "3 Main St." } 
  }

In [36]:
customers

{'johnog': {'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 'coder1200': {'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 'madmaxine': {'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}}

In [37]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4